.cabecalho{
background-color: #3B2565;
width: 100px;
height: 260px;
margin-top: -400px;
position: relative;
left: 30px;
z-index: 2; 
cursor: pointer;
position: fixed;
}
.itenscabecalho{
margin: auto;
padding: 20px
}
